<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>广东省</key>
	<dict>
		<key>深圳市</key>
		<string>101280601</string>
		<key>惠州市</key>
		<string>101280301</string>
	</dict>
</dict>
</plist>
